
.Content {
	background-color:#ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 500px;
	padding: 20px;
	content-align: center;
	margin:auto;
}

.content-row {
	align-items: center;
}